@import "colors";
*{
  font-family: sans-serif;
}
header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background: black;
  color: white;
  height: 41px;
  font-size: 14px;

  .container {
    height: 100%;
    width: 1074px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    p{

      strong{
        color: $text-blue;
        font-weight: bold;
      }
    }
    ul{
      list-style: none;
      float: right;
      margin-right:10px;
      li{
        float: left;
        padding-left: 42px;
        font-weight: bold;
      }
    }
  }

}